.Rproj.user
.Rhistory
.RData
.Ruserdata

# /DDaye/R/
default-dir/
package-documentation/
project-documentation/images/
r-functions/deprecated/
r-packages/
r-practice/
workshop-notes/
HMS-R-Projects.Rproj
note-to-self.txt

# /R/projects/
projects/.deprecated/
projects/A15/data/
projects/A16/data/
projects/A16/r-credentials/
projects/A17_EFH_analysis.lnk
projects/CoastWatch-Tutorials/
projects/generate-letters-Elsa/
projects/HMS-data-processing/data/
projects/HMS-data-processing/output/
projects/HMS-SAFE-Report/
projects/HMS-SAFE-TechDoc/
projects/IBQ-allocations/data/
projects/IBQ-allocations/output/
projects/ICCAT_vessel-list-20m/correspondence_and_process_notes/
projects/ICCAT_vessel-list-20m/data/CP01/CP01-vessel-list.xlsx
projects/ICCAT_vessel-list-20m/data/FCC/
projects/ICCAT_vessel-list-20m/data/ICCAT-vessel-references/
projects/ICCAT_vessel-list-20m/data/Java/
projects/ICCAT_vessel-list-20m/data/NFPLRS_info.txt - Shortcut.lnk
projects/ICCAT_vessel-list-20m/deprecated-r-scripts/
projects/ICCAT_vessel-list-20m/r-functions/ScrapeFCC.R
projects/ICCAT_vessel-list-20m/report-files/
projects/ICCAT_vessel-list-20m/setup/filepath-settings.R
projects/ICCAT_vessel-list-20m/setup/NFPLRS-database-credentials.R
projects/misc/data/
projects/misc/r-scripts/deprecated/
projects/misc/r-scripts/Wetherbee_jordan_TommyLines_depth.R
projects/nmfspalette/
projects/State-of-the-Ecosystem/data/
projects/website-testing/

# Wildcards
projects/*/*.Rproj
